:root{
    scroll-behavior: smooth;

}
body{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
header{
    margin:25px auto 10px;
    font-size: 30px;
    font-weight: 400;
    
}
h1{
    font-size: 50px;
    font-weight: 500;
}
#flex{
    display: flex;
    flex-direction: row-reverse;
}
nav{
    border-right: solid black;
    grid-area: nav;
    background-color: rgba(220, 219, 218, 0.279);
    height: 100%;
    width: 300px;
    position: fixed;
    left: 0;
    top: 0;
    margin: 0;
    right: 0;
    
   
}
main{
    padding-left: 20px;
    margin-left: 300px;
    min-width: 600px;

}
#nav-list{
    height: 80px;
    line-height: 80px;
    border-bottom:  solid black 1px;
    padding-left: 30px;
    
    
    
}
#nav-ul{
    list-style-type: none;
    padding: 0;
    height: 88%;
    overflow-y: auto;

  
  

}
#nav-header{
    border-bottom: solid black 1px;
   font-weight: 500;
}
#nav-link{
height: 30px;
    
}
#div-code{
    
    display: flex;
    justify-content: space-evenly;
}
#div-code>div{
    border: black solid 2px;
    background-color: rgb(241, 241, 241);
    width: 25%;
    height: fit-content;
    min-height: 300px;

}
a{
    color: black;
}
.mTop{
    border-top: solid black 1px;;
}
#div-code p {
    border-bottom: solid black 1px;
    text-align: center;
    line-height: 40px;
    margin: 0;
    height: 40px;
    padding: 0;
    background-color: rgb(214, 214, 214); 
}
#div-code>div>div{
    padding:20px;
}
#navbar>header{
    height: 60px;
}
.main-section p {
    padding: 10px;
}
a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:active {
    text-decoration: none;
  }
  h3{
      font-size: 40px;
  }
  @media (max-width:944px){
    #flex{
        flex-direction: column-reverse;
    }
    nav{
        height: auto;
        width: 100%;
        max-height: 400px;
        position: absolute;
        top: 0;
        
    
    }
    #nav-header{
        text-align: center;
    }
    #nav-ul{
        text-align: center;
        list-style-type: none;
        padding: 0;
        width: 100%;
        height: 300px;
        overflow-y: auto;
        margin-top: 10px;
        margin-bottom: 20px;
        border: solid black 1px;
        
    }
    main{
        margin: 400px 0 0 0;
    }
    .mTop{
        border-top: none;
    }
 
  }